---
layout: default
title: About
permalink: /about/
---

{% include header.html %}

<section id="about">
	<div id="about-content">

		<div id="contributors">

			<h2 class="about-user-title">Contributors</h2>
			
			<div class="grid-container">

			  <div class="grid-item">
			  	<a href ="https://dvd42.github.io/">
			  		<img src="{{site.baseurl}}/assets/img/diego.jpeg">
			  		<p>Diego Velazquez</p>
			  	</a>
			  </div>
			  <div class="grid-item">
			  	<a href ="https://www.linkedin.com/in/laura-planas/">
			  		<img src="{{site.baseurl}}/assets/img/laura.jpg">
			  		<p>Laura Planas</p>
			  	</a>
			  </div>
			  <div class="grid-item">
			  	<a href ="https://www.linkedin.com/in/jaume-estany">
			  		<img src="{{site.baseurl}}/assets/img/jaume.jpeg">
			  		<p>Jaume Estany</p>
			  	</a>
			  </div>  
			  <div class="grid-item">
			  	<a href ="https://www.linkedin.com/in/ferran-rodriguez-mir">
			  		<img src="{{site.baseurl}}/assets/img/ferran.jpg">
			  		<p>Ferran Rodríguez</p>
			  	</a>
			  </div>
			  <div class="grid-item">
			  	<a href ="https://www.linkedin.com/in/eric-lozano-ferriz/">
			  		<img src="{{site.baseurl}}/assets/img/Eric.jpg">
			  		<p>Eric Lozano</p>
			  	</a>
			  </div> 
			  <div class="grid-item">
			  	<a href ="https://www.linkedin.com/in/cosminanicu/">
			  		<img src="{{site.baseurl}}/assets/img/Cosmina.jpg">
			  		<p>Cosmina Nicu</p>
			  	</a>
			  </div> 

			</div>

		</div>

		<div id="advisors">
			<h2 class="about-user-title">Advisors</h2>

			<div class="grid-container">

			  <div class="grid-item">
			  	<a href ="https://es.linkedin.com/in/lopoal">
			  		<img src="{{site.baseurl}}/assets/img/jordi.jpg">
			  		<p>Jordi Gonzalez</p>
			  	</a>
			  </div>
			  <div class="grid-item">
			  	<a href ="https://es.linkedin.com/in/pau-rodr%C3%ADguez-l%C3%B3pez-5786a154">
			  		<img src="{{site.baseurl}}/assets/img/pau.jpeg">
			  		<p>Pau Rodríguez</p>
			  	</a>
			  </div>

			</div>
			
		</div>

		<div id="admins">
			<h2 class="about-user-title">Admins</h2>
			<div class="grid-container">

			  <div class="grid-item">
			  	<a href ="https://dvd42.github.io/">
			  		<img src="{{site.baseurl}}/assets/img/diego.jpeg">
			  		<p>Diego Velazquez</p>
			  	</a>
			  </div>
			  <div class="grid-item">
			  	<a href ="https://es.linkedin.com/in/lopoal">
			  		<img src="{{site.baseurl}}/assets/img/jordi.jpg">
			  		<p>Jordi Gonzalez</p>
			  	</a>
			  </div>

			</div>
			
		</div>
	</div>
</section>

{% include social_footer.html %}